h1 {
    text-indent: 50px;
}

ul {
    line-height: 5px;
  }

li {
    list-style: none;
    width: 300px;
    height:auto;
    border: 1px solid gray;
    border-radius:10px;
    padding: 10px;
    margin: 10px 0;
    background-color:rgb(243, 241, 241);
}

img {
    width: 100%;
    height: auto;
}